/*
CustomVA 2024-2025 - TrustBuilder (formerly inWebo Technologies)
VERSION	 	: v1.4 - 2025.06.10
LICENSE		: Please consult the provided LICENSE file
README 		: Please consult the provided README  file
CHANGELOG	: Please consult the provided README  file
*/

html, body {
	display: flex;
	justify-content: center;
	height: 100%;
}
body, div, h1 { 
	padding: 0;
	margin: 10px 15px ;
	outline: none;
	font-family: Poppins, Arial, sans-serif;
	font-size: 16px;
	color: #666;
}
h1 {
	padding: 00px 20px;
	font-size: 26px;
	font-weight: 300;
	text-align: center;
}
h2 {
	padding: 10px 20px;
	font-size: 24px;
	font-weight: 300;
	text-align: center;
}
h3 {
	font-size: 20px;
	font-weight: 300;
	text-align: center;
}

hr {
	color: #a9a9a9;
	opacity: 0.3;
}

p {
    margin: 0;
}

.main-block {
	padding: 10px 20px;
	margin: auto ;
	border-radius: 5px; 
	border: solid 1px #ccc;
	box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
	background: #eeeeee;
}

.VA {
	justify-content: center;
	padding: 0;
	margin: 0 ;
}

iframe#iwVt {
	margin: 0px 0px 0px 0px;
}

table {
	margin: 0 auto 0 auto;
	text-align: center;
	tr, td {
        padding: 5px 0px 5px 0px;
    }
}

.result {
	justify-content: center;
	padding: 10px 20px;
	margin: auto ;
	border-radius: 5px; 
	border: solid 1px #ccc;
	box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
	background: #eeeeee;
}